*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('img2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container {
    max-width: 80.89rem; 
    margin: 6.22rem auto;
    margin-top: 9.33rem;
    padding: 3.11rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.622rem;
    box-shadow: 0 0 0.622rem rgba(0, 0, 0, 0.1);
    display: flex;
	align-items: top;
	justify-content: center;
	min-height: 100vh;
}

.login {
	width: 68.44rem;
	padding: 1.867rem;
	padding-top: 0.622rem;
}

.login__field {
	padding: 0.622rem 0px;	
	position: relative;	
}

.login__input {
	border: none;
	border-bottom: 0.124rem solid #a29f9f;
	background: none;
	padding: 0.0622rem;
	padding-left: 0.0622rem;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.table1 {
	background: #817e7e;
}

.header1 {
    width: auto;
    height: 6.22rem;
    background-color: white;
    border-bottom: #000000;
    padding-top: 1.244rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 7.467rem;
    margin-left: 1.556rem;
    margin-right: 4.67rem;
}

nav img{
    height: 4.356rem;
}

nav h3{
    margin-bottom: 0.933rem;
    font-size: 1.556rem;
}

nav a{
    color: #4EA685;
    display: block;
}

a:hover{
    color: #4EA685;
}
.footer{
    width: auto;
    height: 6.22rem;
    background-color: white;
    border-bottom: #000000;
    padding-top: 2.48rem;
    margin-bottom: 0px;
}

p{
    font-size: 1.244rem;
    color: #4EA685;
}

@media screen and (max-width: 425px) {
    .container {
        margin: 1.244rem auto;
    }
}