<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Backend 2</title>
  <link rel="stylesheet" href="../Css/backend.css">

</head>
<body>
<!-- partial:index.partial.html -->
<br>
<br>
    <div class="cont">
        <div class="form sign-in">
            <h2>Edit Work Order</h2>
            <label>
                <span>Work Order No</span>
                <input type="text" />
            </label>
            <label>
                <span>Date</span>
                <input type="date" />
            </label>
            <label>
                <span>Delivery Date</span>
                <input type="date" />
            </label>
            <label>
                <span>Phone Number</span>
                <input type="tel" maxlength="10" />
            </label>
            <label>
                <span>Address</span>
                <textarea name="name" cols="30" rows="5"></textarea><br>
            </label>
            <label>
                <span>Fabric Type</span>
                <input type="text" />
            </label>
            <label>
                <span>Fabric Order Status</span>
                <select>
                    <option>Order Pending</option>
                    <option>Delivery Pending</option>
                    <option>Delivered</option>
                </select>
            </label>
            <label>
                <span>Work Order Status</span>
                <select>
                    <option>Details Pending</option>
                    <option>Measurement Pending</option>
                    <option>Given for Stiching</option>
                    <option>Delivery Pending</option>
                    <option>Order Delivered</option>
                </select>
            </label>
            <button type="button" class="submit">Submit</button>
         
        </div>
        <div class="sub-cont">
            <div class="img">
            </div>
        </div>
    </div>
  
</body>
</html>
