<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Backend</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" /> 
    <link rel="stylesheet" href="/backend.css">
</head>
<body>

<% if (typeof popupMessage !== 'undefined' && popupMessage) { %>
  <script>
    alert("<%= popupMessage %>");
  </script>
<% } %>

<!-- partial:index.partial.html -->
    <div class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3 style="font-weight: 700;"><a href="/logout">Log out</a></h3>
        </nav>
    </div>

    <br>
    <br>
    
    <div class="cont">

        <form method="post">
            <div class="form sign-up">
                <h2>View Work Order</h2>
                <label>
                    <span>Work Order No.</span>
                    <input type="text" name="work_no" <% if (typeof no !== 'undefined' && no.work_no) { %>
                        value="<%= no.work_no %>"
                    <% } %> />
                </label>
                <button class="submit" type="submit" formaction="/edit">View Order </button>
                <button class="submit" type="submit" formaction="/mea">Open Measurement </button>
            </div>
        </form>

        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                
                    <h3>Want to place an order? <h3>
                </div>
                <div class="img__text m--in">
                
                    <h3>Want to view an existing order?<h3>
                </div>
                <div class="img__btn">
                    <span class="m--up">New Order</span>
                    <span class="m--in">View Order</span>
                </div>
            </div>

            <form method="post">
                <div class="form sign-in">
                    <h2>Create New Work Order</h2>
                    <label>
                        <span>Work Order No</span>
                        <input type="text" name="work_no" required/>
                    </label>
                    <label>
                        <span>Name:</span>
                        <input type="text" name="name" required/>
                    </label>
                    <label>
                        <span>Date</span>
                        <input type="date" name="date" />
                    </label>
                    <label>
                        <span>Delivery Date</span>
                        <input type="date" name="d_date" />
                    </label>
                    <label>
                        <span>Phone Number</span>
                        <input type="tel" maxlength="10" name="p_no" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </label>
                    <label>
                        <span>Address</span>
                        <textarea name="add" cols="30" rows="5"></textarea><br>
                    </label>
                    <label>
                        <span>Google Maps Location</span>
                        <input type="url" name="map_link" placeholder="Paste Google Maps URL" >
                    </label>
                    <label>
                        <span>Fabric Type</span>
                        <input type="text" name="f_type"/>
                    </label>
                    <label>
                        <span>Fabric Order Status</span>
                        <select name="f_status">
                            <option value="Order Pending">Order Pending</option>
                            <option value="Delivery Pending">Delivery Pending</option>
                            <option value="Delivered">Delivered</option>
                        </select>
                    </label>
                    <label>
                        <span>Work Order Status</span>
                        <select name="w_status">
                            <option value="Details Pending">Details Pending</option>
                            <option value="Measurement Pending">Measurement Pending</option>
                            <option value="Quotation approval Pending">Quotation approval Pending</option>
                            <option value="Given for Stiching">Given for Stiching</option>
                            <option value="Delivery Pending">Delivery Pending</option>
                            <option value="Order Delivered">Order Delivered</option>
                        </select>
                    </label>

                    <button class="submit" type="submit" formaction="/details"> Submit </button>
                    <button class="submit" type="submit" formaction="/measure"> Measurement </button>

                </div>
            </form>
        </div>
    </div>

    <div class="footer">
        <nav>
            <p> &copy; 2024 All Rights Reserved.</p>
            <p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
        </nav>
    </div>

    <script>
        document.querySelector('.img__btn').addEventListener('click', function() {
            document.querySelector('.cont').classList.toggle('s--signup');
        });
    </script>
<!-- partial -->
  
</body>
</html>
