<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/bill.css">
</head>
<body>

    <!-- <div class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3><a href="/logout">Log out</a></h3>
        </nav>
    </div> -->

    <div class="container">
        <table class="info" style="width:100%">
            <tr>
                <td>
                    <img src="/logo.png" alt="logo" height="120px">
                </td>
                <td align="right">
                    <h2>Homecraft</h2>
                    <p>Plot No. 521, Road No. 5, Near Paliwal Chowkdi, GIDC Sachin, Surat - 394230</p>
                    <p>Phone no.: +91-9328282823</p>
                    <p>GSTIN: 24ARFPR5413C1Z5, State: 24-Gujarat</p>
                </td>
            </tr>
        </table>

        <br>
        <center><h3>Tax Invoice</h3></center> 
        <br>
        <br>
        
        <form action="/bill" method="post"> 
            <table style="width:100%">
                <input type="hidden" name="work_no" value="<%= no.work_no %>" readonly/>
                <tr>
                    <td>
                        <h4>Bill To</h4><br>
                        <input type="text" class="input_field" placeholder="Name" name="name" value="<%= no.name %>" /><br>
                        <input type="text" class="input_field" placeholder="Address" /><br>
                        <label>Contact No: <input type="tel" class="input_field" maxlength="10" name="p_no" value="<%= no.p_no %>"></label><br>
                        <label>State: <input type="text" class="input_field" placeholder="State"></label>
                    </td>
                    <td>
                        <h4>Ship To</h4><br>
                        <input type="text" class="input_field" placeholder="Address" />
                    </td>
                    <td>
                        <h4>Transportation Details</h4><br>
                        <label>Driver Name: <input type="text" class="input_field" placeholder="Name"/></label><br>
                        <label>Vehicle Number: <input type="text" class="input_field" placeholder="GJ05FR9362"/></label><br>
                        <label>Delivery Date: <input type="date" class="input_field" placeholder="date"/></label><br>
                        <label>Location:<input type="text" class="input_field" placeholder="Surat"></label><br>
                        <label>LR Number: <input type="text" class="input_field"></label>
                    </td>
                    <td>
                        <h4>Invoice Details</h4><br>
                        <label>Invoice No:<input type="text" class="input_field"></label><br>
                        <label>Date: <input type="date" class="input_field"></label><br>
                        <label>Place of supply:<input type="text" class="input_field"></label><br>
                        <label>Due Date: <input type="date" class="input_field"></label>
                    </td>
                </tr>
            
            </table><br>

            <table class="bill" cellspacing="5">
                <tr>
                    <th>#</th>
                    <th colspan="2">Item Name</th>
                    <th>HSN/SAC</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Price/Unit</th>
                    <th>GST</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <th colspan="2">Total</th>
                    <td></td>
                    <th></th>
                    <td></td>
                    <td></td>
                    <th></th>
                    <th></th>
                </tr>
            </table><br>

            <!--dont know how to make this table-->
            <table class="tax" style="width: 100%;">
                <tr>
                    <th>Tax Type</th>
                    <th>Taxable amount</th>
                    <th>Rate</th>
                    <th>Tax amount</th>
                    <th>Amounts</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>SGST</td>
                    <td>₹ 37,460.00</td>
                    <td>2.5%</td>
                    <td>₹ 936.50</td>
                    <td>Sub Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>₹ 39,333.00</td>
                </tr>
                <tr>
                    <td>CGST</td>
                    <td>₹ 37,460.00</td>
                    <td>2.5%</td>
                    <td>₹ 936.50</td>
                    <th style="background-color: #eee;">Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="background-color: #eee;">₹ 39,333.00</td> 
                </tr>
                <tr></tr>
                <tr></tr>
            </table><br>

            <table class="ivoice_words">
                <tr>
                    <th align="left"><h3>Invoice Amount In Words</h3></th>
                </tr>
                <tr></tr>
                <tr></tr><tr></tr>
                <tr>
                    <td>Thirty Nine Thousand Three Hundred Thirty Three Rupees only</td>
                </tr>
            </table><br>

            <table class="terms">
                <tr>
                    <td>
                        <h3>Terms and Conditions</h3>
                        <p>- We reserve the right of recovery before due date at any time.</p>
                        <p>- Goods once sold cannot be returned. Any defect in the material</p>
                        <p>received should be brought into notice withim the 48 hours of delivery.</p>
                        <p>- The sale is understood to have been made after due consideration of </p>
                        <p>the quality of goods and prevailing rates.</p>
                        <p>- The payment of this bill shall be made by the due date failing which interest</p>
                        <p>@ 1.5% Per Month shall be charged from the due date.</p>
                    </td>
                </tr>
            </table><br>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <h3>Bank Details</h3><br>
                        <p>Name: HDFC BANK</p><br>
                        <p>Account No.: 50200023386178</p><br>
                        <p>IFSC code: HDFC0000955</p><br>
                        <p>Account holder's name: Homecraft</p><br>
                    </td>
                    <td>
                        <p>For: Homecraft</p>
                        <br><br><br>
                        <br><br>
                        <h3>Authorized Signatory</h3>
                    </td>
                </tr>
            </table><br>

            <center>
                <button type="submit" class="but">Submit</button>   
                <button type="button" class="but">Print</button>
            </center>
        </form>

    </div>

    <!-- <div class="footer">
        <nav>
            <p> &copy; 2024 All Rights Reserved.</p>
            <p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
        </nav>
    </div> -->

</body>
</html>