<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="/bill.css">
</head>
<body>

    <!-- <div class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3><a href="/logout">Log out</a></h3>
        </nav>
    </div> -->

    <div class="container">
        <table class="info">
            <tr>
                <td>
                    <img src="/logo.png" alt="logo">
                </td>
                <td align="right">
                    <h2>Homecraft</h2>
                    <p>Plot No. 521, Road No. 5, Near Paliwal Chowkdi, GIDC Sachin, Surat - 394230</p>
                    <p>Phone no.: +91-9328282823</p>
                    <p>GSTIN: 24ARFPR5413C1Z5, State: 24-Gujarat</p>
                </td>
            </tr>
        </table>

        <br>
        <center><h3>Tax Invoice</h3></center> 
        <br>

        <table>
            <form action="" method="post">
                <tr>
                    <td>
                        <h4>Bill To</h4>
                        <input type="text" placeholder="Name" class=""/><br>
                        <textarea placeholder="Address"></textarea>
                        <p>Contact No: <input type="tel" maxlength="10"></p>
                        <p>State: <input type="text" placeholder="State"></p>
                    </td>
                </tr>
            </form>
        </table>
    </div>

    <!-- <div class="footer">
        <nav>
            <p> &copy; 2024 All Rights Reserved.</p>
            <p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
        </nav>
    </div> -->

</body>
</html>