<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fiter</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="/fiter.css">

</head>
<body>

	<% if (typeof popupMessage !== 'undefined' && popupMessage) { %>
    <script>
        alert("<%= popupMessage %>");
    </script>
    <% } %>
	
	<div class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3 style="font-weight: 700;"><a href="/logout">Log out</a></h3>
        </nav>
    </div>
	<!-- partial:index.partial.html -->
	<div class="container">
		<div class="screen">
			<div class="screen__content">
				<form class="login" action="/fit" method="post">
					<div class="login__field">
						<h2>Enter work order number</h2>
					</div>
					<div class="login__field">
						<span style="font-size:  16px; color: #4d7dbb; border: 2px solid #4d7dbb; border-radius: 30px; padding: 5px;">123</span>
						<input type="text" class="login__input" placeholder="123" name="work_no">
					</div>	
					<button class="button login__submit">
						<span class="button__text">Submit</span>
						<i class="button__icon fas fa-chevron-right"></i>
					</button>			
				</form>
			</div>
			<div class="screen__background">
				<span class="screen__background__shape screen__background__shape4"></span>
				<span class="screen__background__shape screen__background__shape3"></span>		
				<span class="screen__background__shape screen__background__shape2"></span>
				<span class="screen__background__shape screen__background__shape1"></span>
			</div>		
		</div>
	</div>
	<!-- partial -->

	<div class="footer">
		<nav>
			<p> &copy; 2024 All Rights Reserved.</p>
			<p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
		</nav>
	</div>

</body>
</html>
