<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Fiter 2</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
	<link rel="stylesheet" href="/fiter2.css"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>   <!--Bootstrap links-->

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">

                <form class="login" >
                    <div class="row">
                        <div class="col-3 login__field">
                        <h6 align="center">Work order number :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input">
                        </div>
                        <div class="col-3 login__field">
                            <h6 align="center">Date :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 login__field">
                        <h6 align="center">Phone number :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input">
                        </div>
                        <div class="col-3 login__field">
                            <h6 align="center">Delivery date :</h6>
                        </div>
                        <div class="col-3 login__field">
                            <input type="text" class="login__input">
                        </div>
                    </div>

                    <div class="row login__field">
                        <div class="col-3">
                            <h6 align="center">Address :</h6>
                        </div> 
                        <input type="text" class="login__input">
                    </div>
                </form>

                <form id="myForm" class="login">   
                    <!--  Text fields will be added here -->
                </form>	

                <form class="login">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3">
                            <button class="button login__submit" type="button" onclick="addTextField()">
                                <span class="button__text">Add Room</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>	
                        </div>
                        <div class="col-2"></div>
                        <div class="col-3">
                            <button class="button login__submit" type="button" onclick="addTextFieldforwindow()">
                                <span class="button__text">Add Window</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>	
                        </div>
                    </div>	
                    <br/>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9 login__field">
                            <label>
                                <span>Work Order Status</span> 
                            </label>
                            <select class="login__option">
                                <option>Details Pending</option>
                                <option>Measurement Pending</option>
                                <option>Given for Stiching</option>
                                <option>Delivery Pending</option>
                                <option>Order Delivered</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-3">
                            <button class="button login__submit" type="submit">
                                <span class="button__text">Create Quotation</span>
                                <i class="button__icon fas fa-chevron-right"></i>
                            </button>	
                        </div>
                    </div>
                        
                </form>

            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
            </div>		
        </div>
    </div>
    <!-- partial -->

    <script  src="/fiter2.js"></script>

</body>
</html>