<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
        <link rel="stylesheet" href="">
    </head>

    <body>
        <center>
            <br/>
            <form method="post">
                <h1>SignUp Page</h1>
                <table>
                    <tr>
                        <td>Username:</td>
                        <td><input type="text" placeholder="Username" required></td>
                    </tr>
                    <tr>
                        <td>Enter Password:</td>
                        <td><input type="password" placeholder="pass@123" required></td>
                    </tr>
                    <tr>
                        <td>Confirm Password:</td>
                        <td><input type="password" placeholder="pass@123" required></td>
                    </tr>
                    <tr>
                        <td>Role:</td>
                        <td>
                            <select>
                                <option>Admin</option>
                                <option>Backend</option>
                                <option>Fitter</option>
                                <option>Tailor</option>
                            </select>
                        </td>
                    </tr>
                </table><br/>
                <button type="submit">Submit</button>
            </form>
        </center>
    </body>
</html>