
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tailor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" /> 
    <link rel="stylesheet" href="/tailor.css">
</head>
<body>

    <header class="header1">
        <nav>
            <img src="/logo.png" alt="logo">
            <h3><a href="/logout">Log out</a></h3>
        </nav>
    </header>
    
    <div class="container">
        <h2>Enter Work Order Number</h2>
        <form>
            <input type="text" class="input-field" placeholder="Enter work order number here">
            <center><button type="submit" class="submit-btn">Submit</button></center>
        </form>
    </div>

    <footer class="footer">
        <nav>
            <p> &copy; 2024 All Rights Reserved.</p>
            <p>Designed with <i class="fas fa-heart" style="color:red"></i></p>
        </nav>
    </footer>

</body>
</html>