
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tailor 2</title>
        <link rel="stylesheet" href="../css/tailor2.css">
    </head>
<body>
    <div class="container">
        <div class="screen__content">
            <form class="login" >
                <div class="row">
                    <div class="col-3 login__field">
                    <h6 align="center">Work order number :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="text" class="login__input">
                    </div>
                    <div class="col-3 login__field">
                        <h6 align="center">Date :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="text" class="login__input">
                    </div>
                </div>

                <div class="row">
                    <div class="col-3 login__field">
                    <h6 align="center">Phone number :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="text" class="login__input">
                    </div>
                    <div class="col-3 login__field">
                        <h6 align="center">Delivery date :</h6>
                    </div>
                    <div class="col-3 login__field">
                        <input type="text" class="login__input">
                    </div>
                </div>

                <div class="row login__field">
                    <div class="col-3">
                        <h6 align="center">Address :</h6>
                    </div> 
                    <input type="text" class="login__input">
                </div>
            </form>
        </div>
    </div>
</body>
</html>